### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
players = len(purchase_data["SN"].unique())
Total_players = pd.DataFrame({'Total Players' : [players]})
Total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique = len(purchase_data["Item ID"].value_counts())
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
average_price = total_revenue / number_of_purchases

In [5]:
purchase_analysis = pd.DataFrame({"Number of Unique Items": unique,
                                  "Average Price": average_price,
                                  "Number of Purchases": number_of_purchases,
                                  "Total Revenue": [total_revenue]})

purchase_analysis["Average Price"]= purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"]= purchase_analysis["Total Revenue"].map("${:,.2f}".format)

purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#gender_demographics = purchase_data.set_index("Gender")

gender_count = purchase_data["Gender"].value_counts()
gender_total_count = gender_count.sum()
gender_percentage = (purchase_data["Gender"].value_counts() / gender_total_count) *100

In [7]:
#Create Gender Demographics summary table
gender_demographics = pd.DataFrame({"Percentage of Players": gender_percentage,
                                     "Total Count":gender_count })

gender_demographics["Percentage of Players"]= gender_demographics["Percentage of Players"].map("{:.2f}%".format)

gender_demographics

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Purchase Count	Average Purchase Price	Total Purchase Value	Normalized Totals 
gender_group = purchase_data.groupby(['Gender'])

purchase_count = purchase_data["Gender"].value_counts()
avg_purchase_price = gender_group["Price"].mean()
total_purchase_price = gender_group["Price"].sum()
normalized_totals = total_purchase_price / purchase_count

In [9]:
# Create a dataframe of Purchasing Analysis by Gender
gender_purchase = pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price":avg_purchase_price,
                                "Total Purchase Value":total_purchase_price,
                                "Normalized Totals":normalized_totals,
                               })

gender_purchase["Average Purchase Price"]= gender_purchase["Average Purchase Price"].map("${:,.2f}".format)
gender_purchase["Total Purchase Value"]= gender_purchase["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase["Normalized Totals"]= gender_purchase["Normalized Totals"].map("${:,.2f}".format)

gender_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [11]:
#Label each line within each bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [12]:
age_group_count = purchase_data["Age Group"].value_counts()
total_age_count = purchase_data["Age Group"].count()
player_percentage = (age_group_count / total_age_count)*100

#How to re-order Age Group index?

In [13]:
# Create a dataframe of Age Demographics
age_demographics = pd.DataFrame({"Percentage of Players": player_percentage,
                                "Total Count":age_group_count,
                               })

age_demographics["Percentage of Players"]= age_demographics["Percentage of Players"].map("{:.2f}%".format)

age_demographics

      Percentage of Players  Total Count
20-24                46.79%          365
15-19                17.44%          136
25-29                12.95%          101
30-34                 9.36%           73
35-39                 5.26%           41
10-14                 3.59%           28
<10                   2.95%           23
40+                   1.67%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
age_group = purchase_data.groupby(['Age Group'])

age_group_count = purchase_data["Age Group"].value_counts()
avg_purch_price = age_group["Price"].mean()
total_purch_price = age_group["Price"].sum()
normalized_purc_total = total_purch_price / age_group_count

In [15]:
# Create a dataframe of Purchasing Analysis by Age
age_purchasing_analysis = pd.DataFrame({"Purchase Count": age_group_count,
                                        "Average Purchase Price":avg_purch_price,
                                        "Total Purchase Value":total_purch_price,
                                        "Normalized Totals":normalized_purc_total,
                               })

age_purchasing_analysis["Average Purchase Price"]= age_purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis["Total Purchase Value"]= age_purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_purchasing_analysis["Normalized Totals"]= age_purchasing_analysis["Normalized Totals"].map("${:.2f}".format)

age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
ID_group = purchase_data.groupby(['SN'])

ID_purch_count = purchase_data["SN"].value_counts()
ID_total_purch_price = ID_group["Price"].sum()
ID_avg_purc_price = (ID_total_purch_price) / ID_purch_count

In [30]:
# Create a dataframe of spenders
spenders = pd.DataFrame({"Purchase Count": ID_purch_count,
                         "Average Purchase Price":ID_avg_purc_price,
                         "Total Purchase Value":ID_total_purch_price,
                               })

#spenders["Average Purchase Price"]= spenders["Average Purchase Price"].map("${:,.2f}".format)
#spenders["Total Purchase Value"]= spenders["Total Purchase Value"].map("${:,.2f}".format)

spenders.head()

              Purchase Count Average Purchase Price Total Purchase Value
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

In [31]:
# Sorting the DataFrame based on "Total Purchase Value" column
top_spenders = spenders.sort_values("Total Purchase Value", ascending=False)

#Show Top 5 Spenders
top_spenders.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
item_group = purchase_data.groupby(['Item ID'])

item_purch_count = purchase_data["Item ID"].value_counts()
item_total_purch_price = item_group["Price"].sum()

#item_avg_purc_price = item_total_purch_price / item_purch_count

In [32]:
# Create a dataframe of spenders
item_list = pd.DataFrame({"Item Name": purchase_data['Item Name'],
                          "Purchase Count": item_purch_count,
                          "Item Price":purchase_data['Price'],
                          "Total Purchase Value":item_total_purch_price,
                               })

#item_list["Item Price"]= item_list["Item Price"].map("${:,.2f}".format)
#item_list["Total Purchase Value"]= item_list["Total Purchase Value"].map("${:,.2f}".format)

In [33]:
# Sorting the DataFrame based on "Total Purchase Value" column
most_popular = item_list.sort_values("Purchase Count", ascending=False)

#Show Top 5 Spenders
most_popular.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
145,Hopeless Ebon Dualblade,9.0,1.33,41.22
108,Malificent Bag,9.0,1.75,31.77
82,Azurewrath,9.0,4.40,44.10
19,"Blazefury, Protector of Delusions",8.0,4.64,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
# Sorting the DataFrame based on "Total Purchase Value" column
most_profitable = most_popular.sort_values("Total Purchase Value", ascending=False)

In [35]:
#Show Top 5 Spenders
most_profitable.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
178,"Despair, Favor of Due Diligence",12.0,4.60,50.76
82,Azurewrath,9.0,4.40,44.10
145,Hopeless Ebon Dualblade,9.0,1.33,41.22
92,"Betrayal, Whisper of Grieving Widows",8.0,3.94,39.04
103,"Thorn, Satchel of Dark Souls",8.0,1.33,34.80

In [ ]:
Purchasing_Analysis_Age["Total Purchase Value"] = Purchasing_Analysis_Age["Total Purchase Value"].map("${:.2f}".format)
Purchasing_Analysis_Age["Normalized Totals"] = Purchasing_Analysis_Age["Normalized Totals"].map("${:.2f}".format)